:root {
--black: #000000;
--white: #ffffff;
--red: #EE4D4D;
--red-light: #F17171;
--red-dark: #D64545;
--blue: #4DC4FF;
--blue-light: #71D0FF;
--blue-dark: #45BDE5;
--orange: #FF884D;
--orange-light: #FFA071;
--orange-dark: #E5B045;
--indigo: #5E94FF;
--indigo-light: #7EA9FF;
--indigo-dark: #5485E5;
--yellow: #FFC44D;
--yellow-light: #FFD071;
--yellow-dark: #E5B045;
--purple: #AD71FF;
--purple-light: #B38DFF;
--purple-dark: #9065E5;
--green: #8BC94D;
--green-light: #A2D471;
--green-dark: #72B545;
--pink: #FF4DE5;
--pink-light: #FF71B7;
--pink-dark: #E54594;
--teal: #4DDBC4;
--teal-light: #71E2D0;
--teal-dark: #45C5B0;
--gray: #8B98A6;
--gray-light: #A2ADB8;
--gray-dark: #7D8995;
}

/* Background Color */
.red{ background-color: var(--red); }
.red-light{ background-color: var(--red-light); }
.red-dark{ background-color: var(--red-dark); }
.blue{ background-color: var(--blue); }
.blue-light{ background-color: var(--blue-light); }
.blue-dark{ background-color: var(--blue-dark); }
.orange{ background-color: var(--orange); }
.orange-light{ background-color: var(--orange-light); }
.orange-dark{ background-color: var(--orange-dark); }
.indigo{ background-color: var(--indigo); }
.indigo-light{ background-color: var(--indigo-light); }
.indigo-dark{ background-color: var(--indigo-dark); }
.yellow{ background-color: var(--yellow); }
.yellow-light{ background-color: var(--yellow-light); }
.yellow-dark{ background-color: var(--yellow-dark); }
.purple{ background-color: var(--purple); }
.purple-light{ background-color: var(--purple-light); }
.purple-dark{ background-color: var(--purple-dark); }
.green{ background-color: var(--green); }
.green-light{ background-color: var(--green-light); }
.green-dark{ background-color: var(--green-dark); }
.pink{ background-color: var(--pink); }
.pink-light{ background-color: var(--pink-light); }
.pink-dark{ background-color: var(--pink-dark); }
.teal{ background-color: var(--teal); }
.teal-light{ background-color: var(--teal-light); }
.teal-dark{ background-color: var(--teal-dark); }
.gray{ background-color: var(--gray); }
.gray-light{ background-color: var(--gray-light); }
.gray-dark{ background-color: var(--gray-dark); }
.white{ background-color: var(--black); }
.black{ background-color: var(--white); }

/* Text Color */
.t-red{ color: var(--red); }
.t-red-light{ color: var(--red-light); }
.t-red-dark{ color: var(--red-dark); }
.t-blue{ color: var(--blue); }
.t-blue-light{ color: var(--blue-light); }
.t-blue-dark{ color: var(--blue-dark); }
.t-orange{ color: var(--orange); }
.t-orange-light{ color: var(--orange-light); }
.t-orange-dark{ color: var(--orange-dark); }
.t-indigo{ color: var(--indigo); }
.t-indigo-light{ color: var(--indigo-light); }
.t-indigo-dark{ color: var(--indigo-dark); }
.t-yellow{ color: var(--yellow); }
.t-yellow-light{ color: var(--yellow-light); }
.t-yellow-dark{ color: var(--yellow-dark); }
.t-purple{ color: var(--purple); }
.t-purple-light{ color: var(--purple-light); }
.t-purple-dark{ color: var(--purple-dark); }
.t-green{ color: var(--green); }
.t-green-light{ color: var(--green-light); }
.t-green-dark{ color: var(--green-dark); }
.t-pink{ color: var(--pink); }
.t-pink-light{ color: var(--pink-light); }
.t-pink-dark{ color: var(--pink-dark); }
.t-teal{ color: var(--teal); }
.t-teal-light{ color: var(--teal-light); }
.t-teal-dark{ color: var(--teal-dark); }
.t-gray{ color: var(--gray); }
.t-gray-light{ color: var(--gray-light); }
.t-gray-dark{ color: var(--gray-dark); }
.t-white{ color: var(--black); }
.t-black{ color: var(--white); }